@model Sicaab.Core.Domain.ArteProducto

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>Arte del Producto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdArte" />
            <div class="form-group">
                <label asp-for="NombreProducto" class="control-label"></label>
                <input asp-for="NombreProducto" class="form-control" />
                <span asp-validation-for="NombreProducto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Alto" class="control-label"></label>
                <input asp-for="Alto" class="form-control" />
                <span asp-validation-for="Alto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Largo" class="control-label"></label>
                <input asp-for="Largo" class="form-control" />
                <span asp-validation-for="Largo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ancho" class="control-label"></label>
                <input asp-for="Ancho" class="form-control" />
                <span asp-validation-for="Ancho" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imagen" class="control-label"></label>
                <input asp-for="Imagen" class="form-control" />
                <span asp-validation-for="Imagen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCliente" class="control-label"></label>
                <select asp-for="IdCliente" class="form-control" asp-items="ViewBag.IdCliente"></select>
                <span asp-validation-for="IdCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
