@{
    ViewData["Title"] = "Comercial";
}
<h1>@ViewData["Title"]</h1>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="ArteProducto" asp-action="Index"><button class="btn btn-dark">Arte del Producto</button></a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Cliente" asp-action="Index"><button class="btn btn-dark">Cliente</button></a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="OrdenCompra" asp-action="Index"><button class="btn btn-dark">Orden de Compra</button></a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="OrdenPago" asp-action="Index"><button class="btn btn-dark">Orden de Pago</button></a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Producto" asp-action="Index"><button class="btn btn-dark">Producto</button></a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Proveedor" asp-action="Index"><button class="btn btn-dark">Proveedor</button></a>
    </li>

</ul>