@{
    ViewData["Title"] = "INNOVA GRAPHIC";
}

<div class="text-center">
    <h1 class="display-4">INNOVA GRAPHIC</h1>
    <p>Número uno en plegadizas</p>
</div>

<br />
<br />

<div class="text-center">
    <br />
    <br />
    <br />
    <h1 class="display-10">Contacto</h1>
    <p>INNOVA GRAPHIC GROUP SAS</p>
    <p>DG 24 BIS 27 A 44</p>
    <p>TEL. 9279661</p>
    <p>BOGOTÁ D.C. COLOMBIA</p>
</div>

